@page "/messages/"
@using StudentTracker.Models
@using StudentTracker.Services
@inject IAPIService API
@rendermode InteractiveServer
@using System.Text.Json

@if (isUserNotFound)
{
    <p>User not found.</p>
}
else if (user == null)
{
    <p>Loading user data...</p>
}
else if (API.CurrentUser == null)
{
    <p>Please log in first!</p>
}
else{
    <h2>Messages for: @user.FirstName @user.LastName</h2>
    @foreach(Message msg in UserMessages)
    {
        <div>
            <h4>Message From: @msg.SenderName to @msg.RecipientName</h4>
            <p>@msg.MessageContent</p>
        </div>
    }
    <button @onclick="SwitchToInstructor">Swtich from showing Students to Instructors</button>

    <h2>Send a message to a user: </h2>
    <div>
        <form @onsubmit="SendMessageAsync">
            <div class="form-group">
                <label asp-for="MessageRecipient" class="control-label"></label>
                <select @bind="MessageRecipient" class="form-select">
                    @if(!selectingInstructor)
                    {

                       @foreach (var studentSelect in Students)
                        {
                            <option value="@studentSelect.Id">@studentSelect.FirstName @studentSelect.LastName</option>
                        }
                    }
                    else
                    {
                        @foreach (var instructorSelect in Instructors)
                        {
                            <option value="@instructorSelect.Id">@instructorSelect.FirstName @instructorSelect.LastName</option>
                        }
                    }
                </select>
             </div>
            <div class="mb-3">
                <label for="msgToSend.MessageContent" class="form-label">Body:</label>
                <textarea id="msgToSend.MessageContent" class="form-control bg-dark text-light" rows="5" @bind="msgToSend.MessageContent"></textarea>
            </div>
            <button type="submit" class="btn btn-dark"><img src="/images/menu_cursor.png" /> Send Message</button>
        </form>
    </div>
}

@code {


    private StudentTracker.Models.User user = new();
    public List<Message> UserMessages = new();
    private bool isUserNotFound = false;
    public List<Student> Students = new();
    public List<Instructor> Instructors = new();

    private bool selectingInstructor = false;

    private string MessageText = "";
    private int MessageRecipient;
    private string MsgRecipientType = "Student";
    private Message msgToSend = new Message();

    protected override async Task OnParametersSetAsync()
    {

        Console.WriteLine("Parameters Set");
        try
        {
            user = API.CurrentUser;
            Students = await API.GetStudentsAsync();
            Instructors = await API.GetInstructorsAsync();
            UserMessages = await API.GetMessagesByUserAsync(user.Id);

            if (user == null)
            {
                isUserNotFound = true;
            }
            await InvokeAsync(StateHasChanged);
        }
        catch(HttpRequestException ex)
        {
            Console.Error.WriteLine($"Error fetching user data: {ex.Message}");
            isUserNotFound = true;
            await InvokeAsync(StateHasChanged);
        }
        catch(Exception ex)
        {
            Console.Error.WriteLine($"Another error occurred: {ex.Message}");
            isUserNotFound = true;
            await InvokeAsync(StateHasChanged);
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            user = API.CurrentUser;
        }
    }

    private async Task SwitchToInstructor()
    {
        Console.WriteLine("Switch Button"); 
        selectingInstructor = !selectingInstructor;
        StateHasChanged();
    }
    private async Task SendMessageAsync()
    {
        Console.WriteLine("Sending a message!");
        try
        {
            if (selectingInstructor)
            {
                MsgRecipientType = "instructor";
            }
            else MsgRecipientType = "student";

            var Recipient = await API.GetUserByIdAsync(MessageRecipient);
            string RecipientName = Recipient.FirstName+" "+Recipient.LastName;

            msgToSend.MessageID = 0;
            msgToSend.SenderID = user.Id;
            msgToSend.SenderName = user.FirstName + " " + user.LastName;
            msgToSend.RecipientID = MessageRecipient;
            msgToSend.RecipientName = RecipientName;
            msgToSend.RecipientType = MsgRecipientType;
            msgToSend.IsRead = false;


            var response = await API.CreateMessageAsync(msgToSend);
            MessageText = "";
            StateHasChanged();
            
        }
        catch (HttpRequestException ex)
        {
            Console.Error.WriteLine($"Error fetching user's messages: {ex.Message}");
        }
    }
}
